body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background: linear-gradient(90deg, rgb(38, 184, 15), seagreen);
  }
  ul{
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #000000;

  }
  ul li a.active{
    background-color: rgb(7, 136, 22);
    background: linear-gradient(90deg, rgb(38, 184, 15), seagreen);
  }
  li{
    
    float: left;
  }
  li a, .dropbtn{
    display: inline-block;
    color: rgb(149, 213, 154);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover, .dropdown:hover .dropbtn{
    background-color: rgb(7, 136, 22);
    transition: 100ms;
  }
  li.dropdown{
    display: inline-block;
  }
  .dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(149, 213, 154);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2000;
  }
  .dropdown-content a{
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover{
    background-color: rgb(7, 136, 22);
    transition: 100ms;
  }
  .dropdown:hover .dropdown-content{
    display: block;
  }

 

h1{
    margin-top: 45px;
    padding: 15px;
    text-align: center;
    color: white;
    background-color: green;
    margin-bottom: 0px;
}

main{
    display: flex;
    justify-content: space-between;
    height: 93vh;
    margin-top: 0px; 
}

h2{
    margin-top: 0px;
    text-align: right;
    color:lightgreen;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 15px 15px;
    font-weight: bold;
}

h3{
    text-align: left;
    position: relative;
    right: -55%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    color: white;
  }

h4{ 
    color : rgb(255, 255, 255);
    background-color: white;
    background: linear-gradient(90deg, rgb(72, 225, 128), forestgreen);
    padding : 1px ;
    border : 3px solid;
  }
p{  
    color: rgb(255, 255, 255);
    text-align: right;
    top : 150%;
  }
.button {
  background-color: rgb(7, 136, 22) ;
  background : linear-gradient(90deg, rgb(7, 136, 22), lightseagreen) ;
  border: 1px solid;
  border-color: white;
  color: white;
  padding: 100px 190px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 45px;
  cursor: pointer;
}
.button1 {border: 2px solid #04AA6D;}
.button1:hover {
  background-color: #04AA6D;
  color: white;
